<!DOCTYPE html>
<html>
<head>
    <title>Meher's Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Meher's Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">Hello! (First Post)</a></h2>
        <p>Hello! My name is Meher Mankikar and this is is my first blog! Programming is one of my favorite subjects and I
        am so excited to be learning Python and Django!</p>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">About Me</a></h2>
        <p>I am a junior at Bridgewater Raritan Highschool. Some of my favorite subjects are math, science, and computer science.
        I have complete courses in Pre-Algebra, Pre-Calculus, Calculus BC, Chemistry, Biology, Physics, and AP Computer Science.
        Outside of school, I also play golf and participate in Model UN. </p>
    </div>
</body>
</html>